<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300" rel="stylesheet">
<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-12 box backgroundScreenLogin">

        <div class="row">
          <div class="col-1">
            <div class="row">
              <div class="col-5">
              </div>
              <div class="col-7">
                <p class="topmagin font-Dosis hand txt" routerLink='' routerLinkActive='active'>Home</p>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="row">
              <div class="col-4">
              </div>
              <div class="col-8">
                <p class="topmagin font-Dosis hand txt" routerLink='/dashboard' routerLinkActive='active'>Dashboard</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4">
              </div>
              <div class="col-8">
                <p class="topmagin font-Dosis hand txt" routerLink='/manageDrug' routerLinkActive='active'>manage Drug</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-8">
                <p class="topmagin font-Dosis hand txt" routerLink='/manageUser' routerLinkActive='active'>manage user</p>
              </div>
              <div class="col-4"> </div>
            </div>
          </div>

          <div class="col-2">
          </div>
          <div class="col-2">
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4">
              </div>
              <div class="col-8">
                <!-- <button mat-button [matMenuTriggerFor]="menu" class=" hand txt">Warisara</button> -->
                <p class="topmagin font-Dosis hand txt" [matMenuTriggerFor]="menu">Warisara</p>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 box menupage">        
      </div> -->

      <!-- <div class="col-2"></div>
      <div class="col-8 ">
      <div class="boxSmall drugLogin"></div> <div align="center">  <button class="button5 center-block" >Manager Drug</button>  </div></div>
      <div class="col-2"></div>
    </div> -->
      <!-- แก้ใหม่ๆ -->
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>


    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    
      <mat-table #table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element._name}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element._brandName}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastupdate}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <!-- <div class="">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-1"> </div>
            <div class="col-6">
              <p class=" font-Dosis font-size-25 txt hand">TOTAL SYSTEM DRUG.</p>
            </div>
            <div class="col-5"> </div>
          </div>
          <div class=" font-Dosis font-size-80" align="center">1538</div>
          <div class="row">
            <div class="col-1"> </div>
            <div class="col-7">
            </div>
            <div class="col-4">
              <p class=" font-Dosis font-size-25">TYPE</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-1"> </div>
            <div class="col-6">
              <p class=" font-Dosis font-size-25 txt hand">TOTAL SYSTEM USER.</p>
            </div>
            <div class="col-5"> </div>
          </div>
          <div class=" font-Dosis font-size-80" align="center">64</div>
          <div class="row">
            <div class="col-1"> </div>
            <div class="col-7">
            </div>
            <div class="col-4">
              <p class=" font-Dosis font-size-25">TYPE</p>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="boxSmall drugbutton"></div>
          <div align="center">
            <button class="button5 center-block">Manager Drug</button>
          </div>
        </div>
        <div class="col-6">
          <div class="boxSmall userbutton"></div>
          <div align="center">
            <button class="button5 center-block">Manager User</button>
          </div>
        </div>
      </div>
    </div>

    <div>
        <div class="row">
            <div class="col-1"> </div>
            <div class="col-6">
              <p class=" font-Dosis font-size-25 txt hand">DRUG INFORMATION</p>
            </div>
            <div class="col-5"> </div>
          </div>
    </div> -->

  </div>
</div>