
.backgroundScreenLogin{
    background:url("../../picture/headpage.png") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;

}
.menupage{
    background:url("../../picture/menupage.png") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;
}
.totalpage{
    background:url("../../picture/total.png") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;
}
.drugLogin{
    background:url("../../picture/drug.svg") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;

}
.backgroundScreendashboard{
    background:url("../../picture/dashboard5.svg") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;

}
.box{
    min-width:25em;
    min-height: 31em;
}
.boxSmall{
    min-width:15em;
    min-height: 15em;
}
.font-Lalezar{
    font-family: 'Lalezar', cursive;
    color: rgb(49, 130, 184);
    text-align: center;
    font-size: 40px;

}
.font-Overlock{
    font-family: 'Overlock', cursive;
    color: rgb(63, 50, 121);
    text-align: center;
    font-size: 25px;

}
.button5 {
    display: inline-block;
    padding: 8px 40px;
    font-size: 24px;
    font-family: 'Concert One', cursive;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 167, 218);
    border: none;
    border-radius: 10px;
    // box-shadow: 0 9px rgba(143, 143, 143, 0.712);
  }
  .button5:hover {background-color:rgb(85, 135, 175)}
  
  .button5:active {
    background-color: rgb(214, 202, 132);
    // box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .font-Sans{
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(49, 130, 184);
    text-align: center;
    font-size: 40px;

}
.font-Dosis{
    font-family: 'Dosis', sans-serif;
    color: rgb(38, 73, 126);
    // text-align: center;
    font-weight: 700;
    

}
.topmagin{
    margin-top: 1em
}
.font-size-25{
    font-size: 25px;
}
.font-size-80{
    font-size: 80px;
}
.backgroundcolor{
    background-color: rgb(69, 123, 194)
}
.hand{
    cursor:pointer
}
.txt:hover {
    text-decoration: underline;
}

.drugbutton{
    background:url("../../picture/drugbutton.png") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;
}
.userbutton{
    background:url("../../picture/userbutton.png") no-repeat top center;
    background-size:contain;
    width: 100%;
    height: 100%;
}

.main-botton {
    position: absolute;
    bottom: 5%;
}