<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300" rel="stylesheet">
<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-12 box backgroundScreenLogin">
        
      </div>
      <div class="col-2"></div>
      <div class="col-8 ">
         <div class="font-Dosis">Management</div>
      <div class="boxSmall drugLogin"></div> <div align="center">  <button class="button5 center-block" >Manager Drug</button>  </div></div>
      <div class="col-2"></div>
    </div>
     <!-- แก้ใหม่ -->
    <br><br><br><br><br>     
  </div>
</div>