<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300" rel="stylesheet">
<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-12 box backgroundScreenLogin">
        
        <div class="row">
          <div class="col-1">
            <div class="row">
              <div class="col-6">                 
              </div>
              <div class="col-6"> <p class="topmagin font-Dosis">Home</p></div>
            </div>
          </div>
          <div class="col-1">
              <div class="row">
                <div class="col-6">                 
                </div>
                <div class="col-6"> <p class="topmagin font-Dosis">Dashboard</p></div>
              </div>
            </div>
            <div class="col-2">
                <div class="row">
                  <div class="col-4">                 
                  </div>
                  <div class="col-8"> <p class="topmagin font-Dosis">manage Drug</p></div>
                </div>
              </div>
              <div class="col-2">
                  <div class="row">
                    <div class="col-8">  <p class="topmagin font-Dosis">manage user</p>               
                    </div>
                    <div class="col-4"> </div>
                  </div>
                </div>
         
          <div class="col-2">
            </div>
            <div class="col-2">
              </div>
              <div class="col-2">
                  <div class="row">
                      <div class="col-4">                 
                      </div>
                      <div class="col-8"> <p class="topmagin font-Dosis">Warisara</p></div>
                    </div>
                </div>
        </div>
        </div>
      <!-- <div class="col-12 box menupage">        
      </div> -->
      
      <!-- <div class="col-2"></div>
      <div class="col-8 ">
      <div class="boxSmall drugLogin"></div> <div align="center">  <button class="button5 center-block" >Manager Drug</button>  </div></div>
      <div class="col-2"></div>
    </div> -->
     <!-- แก้ใหม่ -->
    <br><br><br><br><br>     
  </div>
  <div class="backgroudcolor">
  <div class="row">
        <div class="col-1"> </div>
          <div class="col-6"><p class=" font-Dosis font-size-25">TOTAL SYSTEM DRUG.</p>                 
          </div>
          <div class="col-5"> </div>
        </div>
        <div class=" font-Dosis font-size-80" align="center"> 
1538
        </div>
        <div class="row">
            <div class="col-1"> </div>
              <div class="col-7">                 
              </div>
              <div class="col-4"><p class=" font-Dosis font-size-25">TYPE</p> </div>
            </div>
            </div>
</div>