.backgroundScreenLogin{
    background:url("../../picture/login.svg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
  
}
.card {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: rgb(218, 92, 155); 
    background-color: rgb(235, 238, 245);
  }
  

  
.container {
      padding: 40px;

  }
.button3 {
    border-radius: 12px;
}
.font-concert{
    
    font-family: 'Concert One', cursive;
    color: rgb(23, 52, 131);
    text-align: center;
    font-size: 60px;

}
.font-Patua{
    
    font-family: 'Patua One', cursive;
    color: rgb(24, 8, 99);
    text-align: center;
    font-size: 60px;

}
.font-passion{
    font-family: 'Passion One', cursive;
    color: rgb(24, 8, 99);
    text-align: center;
    font-size: 80px;

}
.font-share{
    font-family: 'share', cursive;
    color: rgb(63, 50, 121);
    text-align: center;
    font-size: 15px;

}
.font-Overlock{
    font-family: 'Overlock', cursive;
    color: rgb(121, 50, 97);
    text-align: center;
    font-size: 25px;

}
.font-Lalezar{
    font-family: 'Lalezar', cursive;
    color: rgb(49, 130, 184);
    text-align: center;
    font-size: 40px;

}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3677b3;
}

div {
    border-radius: 20px;
   
    padding: 15px;
}
.button1 {
    background-color: rgb(75, 122, 209);
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'share', cursive;
}
.button1:hover {
    background-color: rgb(37, 80, 160);
}

