<div class="backgroundScreenLogin">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Lalezar|Overlock|Passion+One|Patua+One|Share|Roboto+Condensed " rel="stylesheet">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div align="center">
    <div  class="cardnest button3 div1">
      <div class="font-Lalezar" id=headname>Login</div>
      <input type="text" id="fname" name="username" placeholder="Username..">
      <input type="text" id="lname" name="password" placeholder="Password..">
      <br><br>  
      <button class="button1">Submit</button>
      <!-- <button class="buttonback">back</button> -->
    
      <br>
    </div>
  </div>
</div>
