<div class="backgroundScreenLogin"></div>
<div>
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Lalezar|Overlock|Passion+One|Patua+One|Share|Roboto+Condensed|Song+Myung "
    rel="stylesheet">

  <div class="main-login">
    <div align="center">
      <div class="cardnest button3 div1">


        <div class="font-concert1" id=headname>LOGIN</div>
        <div class="example-container">
          <form [formGroup]="signInGroup" (ngSubmit)="signIn()" style="width: 100%;">
            <mat-form-field style="width: 100%;">
              <input matInput formControlName="username" placeholder="Username...">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <input matInput formControlName="password" placeholder="Password..." [type]="hide ? 'password' : 'email'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br>
            <br>
            <button [disabled]="!signInGroup.valid" class="button6" [ngStyle]="{'cursor':signInGroup.valid ? 'pointer':'not-allowed'}" type="submit">Submit</button>
          </form>
        </div>

        <!-- <input type="text" id="fname" name="username" placeholder="Username..">
        <input type="text" id="lname" name="password" placeholder="Password.."> -->
        <!-- <button class="buttonback">back</button> -->

        <br>



      </div>

    </div>
  </div>
  <div align="center">
    <button mat-icon-button routerLink='' routerLinkActive='active'>
      <mat-icon cdk-focus-start aria-label="Example icon-button with a heart icon" class="white">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
