<header class='header'>
  <!-- <nav>
    <a href='javascript:void(0)' class='brand font-concert'>DRUG INFORMATION</a>
    <ul class='menu_main'>
      <li class='menu_main__item'>
        <a routerLink='' routerLinkActive='active' class='menu_main__link'>
          Home
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/user' routerLinkActive='active' class='menu_main__link'>
          User
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/manageUser' routerLinkActive='active' class='menu_main__link'>
          ManageUser
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/information' routerLinkActive='active' class='menu_main__link'>
          information
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/manageInformation' routerLinkActive='active' class='menu_main__link'>
          ManageInformation
        </a>
      </li>
      
    </ul>
    <ul class='menu'>
      <li class='menu__item'>
        <a routerLink='/login' routerLinkActive='active' class='menu__link'>
          Login
        </a>
      </li>
    </ul>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand font-concert margin60" href="#">DRUG INFORMATION</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link margin30" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
          <li class="nav-item active">
            <a class="nav-link margin30"  routerLink='/manageDrug' href="#">ManageDrug <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
          <li class="nav-item active">
              <a class="nav-link" routerLink='/manageUser' href="#">ManageUser<span class="sr-only">(current)</span></a>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">          
          <button class="btn btn-outline-primary my-2 my-sm-0" routerLink='/login' type="submit">Login</button>
        </form>
      </div>
    </nav>
</header>