<header class='header'>
  <nav>
    <a href='javascript:void(0)' class='brand'>New Page No Theme</a>
    <ul class='menu_main'>
      <li class='menu_main__item'>
        <a routerLink='' routerLinkActive='active' class='menu_main__link'>
          Home
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/user' routerLinkActive='active' class='menu_main__link'>
          User
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/manageUser' routerLinkActive='active' class='menu_main__link'>
          ManageUser
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/information' routerLinkActive='active' class='menu_main__link'>
          information
        </a>
      </li>
      <li class='menu_main__item'>
        <a routerLink='/manageInformation' routerLinkActive='active' class='menu_main__link'>
          ManageInformation
        </a>
      </li>
      
    </ul>
    <ul class='menu'>
      <li class='menu__item'>
        <a routerLink='/login' routerLinkActive='active' class='menu__link'>
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>