<div class="backgroundScreenDrug "></div>
<div >
    <app-header></app-header>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Lalezar|Overlock|Passion+One|Patua+One|Share|Kanit" rel="stylesheet">
   <div class="margin"  style="width: 100%;">
    <div align="center" >
      <div class="font-Kanit1" id=headname>ฐานข้อมูลสมาชิก</div>
      <div class="cardnest button3 div1 margin-top50 marginbottom10">
        <div class="font-Kanit2 marginbottom10" id=headname>ค้นหาข้อมูลสมาชิก</div>
        <div align="left">
          <mat-form-field class="margileft10 marginRight10">
            <input matInput placeholder="รหัสสมาชิก">
          </mat-form-field>
          <button class="btn btn-outline-primary my-2 my-sm-0 font-Kanit" type="submit">ค้นหา</button>
        </div>
      </div>
  
      <div class="cardnest button3 div1 marginbottom50 ">
        <div class="row margin">
          <div class="col-md-6">
            <div class="font-Kanit2" id=headname>รายชื่อสมาชิก</div>
          </div>
          <div class="col-md-6">
            <div align="right">
              <div class="margin-top50">
                <button class="btn btn-outline-primary my-2 my-sm-0 font-Kanit marginRight10 margin-top30" routerLink='/user' type="submit">สร้างข้อมูลสมาชิก</button>
              </div>
            </div>
          </div>
        </div>
        <div class="marginRight50 margileft50 marginbottom50 ">
          <table>
            <tr>
              <th>รหัสสมาชิก</th>
              <th>ชื่อ</th>
              <th>นารมสกุล</th>
              <th>ตำแหน่ง</th>
            </tr>
            <tr>
              <td>Peter</td>
              <td>Griffin</td>
              <td>aaa</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>Lois</td>
              <td>Griffin</td>
              <td>aaa</td>
              <td>user</td>
            </tr>
           
        
          </table>
        </div>
      </div>
  
    </div>
  </div> 
  
  </div>