.buttons {
    background-color: rgb(98, 203, 211); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 8px;  
    margin-top: 10%; 
    margin-left: 5%; 
}

.buttons:hover {
    background-color: rgb(5, 159, 170);
}
.buttons1 {
    background-color: rgb(231, 135, 188); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 8px;
    margin-top: 10%; 
    margin-left: 5%; 
}

.buttons1:hover {
    background-color: rgb(221, 98, 166);
}
.hand{
    cursor:pointer
}
.txt:hover {
    text-decoration: underline;
}
.marginright20{
    margin-right: 20%;
}
.marginright10{
    margin-right: 10%;
}
.marginleft50{
    margin-left: 50%
}
.margintop10{
    margin-top: 10%
}
.font-passion{
    font-family: 'Passion One', cursive;
  
    text-align: center;
    font-size: 20px;

}