<div style="width: 900px; min-height: 500px">
    <div class="marginbottom10">
  <div>หัวข้อ</div></div>  
        
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ถ่ายรูปเม็ดยาจากเครื่องถ่ายยาอัตโนมัติ</h5>
              <p class="card-text">รูปภาพที่จะประมวลผลควรมีความชัดเจนและวีมีความคมชัด</p>
              <p class="card-text">ขณะนี้เครื่องมีความสว่าง</p> 
              <span class="input-group-text" id="basic-addon1">35.2</span>
              <form>
                  <div class="form-group">
                    <label for="formControlRange">ปรับความสว่างของหลอดไฟ</label>
                    <input type="range" class="form-control-range" id="formControlRange">
                  </div>
                </form>
              <a href="#" class="btn btn-primary">ถ่ายภาพเม็ดยา</a>
            </div>
          </div>  
          <div>


          </div>     
          
        <div  align="right">
          <a href="#" class="btn btn-primary">ดำเนินการต่อ</a>
        </div>


     
</div>