<div style="width: 900px; min-height: 500px">
    <div class="marginbottom10">
  <div>การเพิ่มข้อมูลยาด้วยภาพเกสารกำกับยา</div></div>  
        
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">เลือกรูปภาพเอกสารกำกับยาที่ต้องการนำข้อมูลกรอกเข้าระบบ</h5>
              <p class="card-text">รูปภาพที่เอกสารกำกับยาควรมีความคมชัดของตัวอักษรและไม่มีขนาดที่เล็กเกินไป เพื่อประสิทธิภาพในการประมวลผลของระบบ</p>
              <a href="#" class="btn btn-primary">เลือกรูปภาพ</a>
            </div>
          </div>  
          <div>


          </div>     
          
        <div  align="right">
          <a href="#" class="btn btn-primary">ดำเนินการต่อ</a>
        </div>


     
</div>