<div style="width: 1200px; min-height: 500px; z-index: 99;">
  <div class="marginbottom10">
    <div class="font-Kanit1">การเพิ่มข้อมูลยาด้วยภาพเอกสารกำกับยา</div>
  </div>
  <div *ngIf="statusOcr==false">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">เลือกรูปภาพเอกสารกำกับยาที่ต้องการนำข้อมูลกรอกเข้าระบบ</h5>
        <p class="card-text">รูปภาพที่เอกสารกำกับยาควรมีความคมชัดของตัวอักษรและไม่มีขนาดที่เล็กเกินไป เพื่อประสิทธิภาพในการประมวลผลของระบบ</p>
        <!-- <a href="#" (click)="change(files)" class="btn btn-primary">เลือกรูปภาพ</a> -->
        <input type="file" #files (change)="change(files)" multiple />
      </div>
    </div>
    <div>
      <div align="center">
        <img (click)="selectthis('0')" src="http://35.240.156.34:38302/api/document/get/{{imagePath[0]}}" style="max-height: 400px;" [class.activeImage]="selectImage=='0'">
        <img (click)="selectthis('1')" src="http://35.240.156.34:38302/api/document/get/{{imagePath[1]}}" style="max-height: 400px;" [class.activeImage]="selectImage=='1'">
      </div>

    </div>
  </div>
  <div *ngIf="statusOcr==true">
    <div class="row" align="center">
      <div class="col-md-6 margintop1">
          <img src="http://35.240.156.34:38302/api/document/get/{{imagePath[selectImage]}}" style="max-width: 550px; max-height: 550px;">
      </div>
      <div class="col-md-6">


        <div class="" align="center">
          <label for="exampleFormControlSelect2">กรุณาตรวจสอบและแก้ไขข้อมูลให้ถูกต้องตรงกับเอกสารกำกับยา</label>
          <!-- <select  class="form-control" style="width: 90%; height: 400px;" id="exampleFormControlSelect2"> -->

          <textarea multiple class="form-control" style="width: 90%; height: 550px;" id="exampleFormControlSelect2" rows="3">{{dataText}}</textarea>
          <!-- </select> -->
          . </div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div> -->
  </div>


  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)=processOcr()>ดำเนินการต่อ</button>
    <button type="button" class="btn btn-primary" (click)=cutText()>ตัดคำ</button>
  </div>




</div>