<div class="backgroundScreen"></div>
<div>
  <!-- <app-header></app-header> -->
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Lalezar|Overlock|Passion+One|Patua+One|Share|Kanit" rel="stylesheet">

  <!-- <class="backscreen" width="90%" height="90%"></class> -->

  <!-- <div class="font-concert margintop10" id=headname>DRUG INFORMATION</div>
  <br>
  <div class="font-Overlock" id=headname>Search by name, drug properties</div>
  <div class="font-Overlock" id=headname>symptoms and characteristics of the drug.</div>
  <br>
  <br> -->
  <!-- <div align="center"> 
    <div class="cardnest1">
    <input *ngIf="editInput==true" type="text" id="fname" name="username" placeholder="Search.."></div>
    <button class="button center-block" (click)=onStatusEdit()>SEARCH</button>    
    <br>
    <br>
    <button *ngIf="statusLogin" class="button2 center-block " routerLink='/login' routerLinkActive='active'>LOGIN</button>
  </div> -->
  <div class="row margin margin">
    <div class="col-md-4">
      <!-- <div class="font-concert3" id=headname>DRUG INFORMATION</div> -->
    </div>
    <div class="col-md-4">
      <br>

      <div align="center">
        <div class="cardnest1">
          <input type="text" id="fname" name="username" placeholder="Search..">
        </div>
      </div>



    </div>
    <div class="col-md-4">
      <br>
      <!-- <div class="font-Kanit2 margin-right50" id=headname>LOGIN </div> -->
    </div>
  </div>

  <div class="row margin">
    <div class="col-md-4">

      <div class="font-Kanit2" id=headname>ลักษณะเพิ่มเติม </div>
    </div>
    <div class="col-md-2">
      <mat-form-field class="font-Kanit" align="right">
        <mat-select placeholder="รูปร่างเม็ดยา">
          <mat-option value="option">วงกลม</mat-option>
          <mat-option value="option">วงรี</mat-option>
          <mat-option value="option">แคปซูล</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="font-Kanit" align="left">
        <mat-select placeholder="สี">
          <mat-option value="option">ขาว</mat-option>
          <mat-option value="option">ครีม</mat-option>
          <mat-option value="option">ม่วง</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row margin" align="center">
    <div *ngFor="let drug of drugs"  class="col-md-6">
        <div class="cardnest button3 div1 margin-top50 marginbottom50 margintop10 margin-left10">
            <div class="font-Kanit3" id=headname>{{drug?._name}}</div>
            <div class="row">
              <div class="col-md-4">
                <div class="margin-top20 marginbottom10">
                  <img src="../../assets/pill-04.png" width="80%" height="80%">
    
                </div>
              </div>
              <div class="col-md-8">
               </div>
    
            </div>
          </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="cardnest button3 div1 margin-top50 marginbottom50 margintop10 margin-right10">
        <div class="font-Kanit3" id=headname>DicloXaCillin 250 mg cap	</div>
        <div class="row">
          <div class="col-md-4">
            <div class="margin-top20 marginbottom10">
              <img src="../../assets/pill-04.png" width="80%" height="80%">

            </div>
          </div>
          <div class="col-md-8">
           </div>

        </div>
      </div>

    </div> -->
    <!-- <div class="col-md-3">
    </div> -->
  </div>

</div>