<div class="backgroundScreen">
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Lalezar|Overlock|Passion+One|Patua+One|Share" rel="stylesheet">

  <!-- <class="backscreen" width="90%" height="90%"></class> -->
  <br><br><br><br>
  <div class="font-concert" id=headname>DRUG INFORMATION</div>
  <br>
  <div class="font-Overlock" id=headname>Search by name name, drug properties</div>
  <div class="font-Overlock" id=headname>symptoms and characteristics of the drug.</div>
  <br>
  <br>
  <br>
  <div align="center">
    <button class="button center-block">SEARCH</button>
    <br>
    <br>
    <button class="button2 center-block " routerLink='/login' routerLinkActive='active'>LOGIN</button>
  </div>
</div>
