<div class="backgroundScreen"></div>
<div>
  <!-- <app-header></app-header> -->
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Lalezar|Overlock|Passion+One|Patua+One|Share|Kanit" rel="stylesheet">

  <!-- <class="backscreen" width="90%" height="90%"></class> -->
  <div>
    <div *ngIf="statusSearch==false">
      <div class="font-concert margintop10" id=headname>DRUG INFORMATION</div>
      <br>
      <div class="font-Overlock" id=headname>Search by name, drug properties</div>
      <div class="font-Overlock" id=headname>symptoms and characteristics of the drug.</div>
      <br>
      <br>
    </div>

    <div align="center">
      <div class="cardnest1">
        <input *ngIf="editInput==true" type="text" [(ngModel)]="query" id="fname" name="username" placeholder="Search.." (keyup)="searchDrug(query)">
      </div>
      <div *ngIf="statusSearch==false">
        <button class="button center-block" (click)=onStatusEdit()>SEARCH</button>
        <br>
        <br>
        <button *ngIf="statusLogin" class="button2 center-block " routerLink='/login' routerLinkActive='active'>LOGIN</button>
      </div>
    </div>
    <!-- </div>

  <div> -->
    <div class="row margin margin">
      <div class="col-md-4">

      </div>
      <div class="col-md-4"> 
        <br>

        <div align="center">
          <div class="cardnest1">
            <!-- <input type="text" [(ngModel)]="query" id="fname" name="username" placeholder="Search.." (keyup)="searchDrug(query)"> -->
          </div>
        </div>



      </div>
      <div class="col-md-4">
      </div>
    </div>


    <div class="row margin" align="center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div *ngIf="statusSearch==true" class="row margin" align="center">
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
            <mat-form-field class="font-Kanit">
              <mat-select (change)="filter()" [(ngModel)]="selectedShape" placeholder="ลักษณะของยา">
                <mat-option value="selectAll">เลือกทั้งหมด</mat-option>
                <mat-option value="circle">วงกลม</mat-option>
                <mat-option value="elliptic">วงรี</mat-option>
                <mat-option value="capsule">แคปซูล</mat-option>
                <mat-option value="Injection">ยาฉีด</mat-option>
                <mat-option value="Medicine">ยาทา</mat-option>
                <mat-option value="Other">อื่นๆ</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="font-Kanit">
              <mat-select (change)="filter()" [(ngModel)]="selectedColor" placeholder="สี">
                <mat-option value="allColor">เลือกทั้งหมด</mat-option>
                <mat-option value="white">ขาว</mat-option>
                <mat-option value="cream">ครีม</mat-option>
                <mat-option value="violet">ม่วง</mat-option>
                <mat-option value="yellow">เหลือง</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row margin">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div align="center">
          <div *ngFor="let drug of drugList;let i = index;">
            <div class="card  marginbottom5">
              <div class="card-header hand txt" (click)="seeData(drug?._id)" id=headname>{{drug?._name}}
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="margin-top20 marginbottom10">
                      <!-- <img *ngIf="i==0" src="../../assets/Acyclovir.png" width="75%" height="75%">
                      <img *ngIf="i==1" src="../../assets/Amoxycillin 500.png" width="75%" height="75%">
                      <img *ngIf="i==2" src="../../assets/Amoxycillin.png" width="75%" height="75%">
                      <img *ngIf="i==3" src="../../assets/Augmentin.png" width="75%" height="75%">
                      <img *ngIf="i==4" src="../../assets/AugmentinSR.png" width="75%" height="75%">
                      <img *ngIf="i==5" src="../../assets/Acyclovir.png" width="75%" height="75%"> -->
                      <img [src]="'http://dev.baeslab.com:38302/api/document/get/'+drug?.images[0]._Id" width="100%" height="100%">
                      <!-- <button (click)="prevImage(i)">prev</button><button (click)="nextImage(i)">next</button> -->
                    </div>
                  </div>
                  <div class="col-md-4" align="left">
                    <div class="row margin">
                      <div class="col-md-6">รูปร่าง</div>
                      <div class="col-md-6">{{drug?._dimensions.shape}}</div>
                    </div>
                    <div class="row margin">
                      <div class="col-md-6 margintop10">area</div>
                      <div class="col-md-6 margintop10">{{drug?._dimensions.area}}</div>
                    </div>
                    <div class="row margin">
                      <div class="col-md-6 margintop10">circularity</div>
                      <div class="col-md-6 margintop10">{{drug?._dimensions.circularity}}.</div>
                    </div>
                    <div class="row margin">
                      <div class="col-md-6 margintop10">radius</div>
                      <div class="col-md-6 margintop10">{{drug?._dimensions.radius}}.</div>
                    </div>
                  </div>
                  <div class="col-md-4" align="left">
                    <div class="row margin">
                      <div class="col-md-6">hue</div>
                      <div class="col-md-6">{{drug?._HSVProfile.hue}}</div>
                    </div>
                    <div class="row margin">
                      <div class="col-md-6 margintop10">saturation</div>
                      <div class="col-md-6 margintop10">{{drug?._HSVProfile.saturation}}</div>
                    </div>
                    <div class="row margin">
                      <div class="col-md-6 margintop10">value</div>
                      <div class="col-md-6 margintop10">{{drug?._HSVProfile.value}}.</div>
                    </div>
                    <div class="row margin">
                        <div class="col-md-6">R</div>
                        <div class="col-md-6">{{drug?._HSVProfile.hue}}</div>
                      </div>
                      <div class="row margin">
                        <div class="col-md-6 margintop10">G</div>
                        <div class="col-md-6 margintop10">{{drug?._HSVProfile.saturation}}</div>
                      </div>
                      <div class="row margin">
                        <div class="col-md-6 margintop10">B</div>
                        <div class="col-md-6 margintop10">{{drug?._HSVProfile.value}}.</div>
                      </div>
                  </div>
                  <!-- <div class="col-md-4" align="right">
                    RGB
                  </div>
                  <div class="col-md-8" align="left">
                      <div class="row margin">
                          <div class="col-md-6">R</div>
                          <div class="col-md-6">{{drug?._HSVProfile.hue}}</div>
                        </div>
                        <div class="row margin">
                          <div class="col-md-6 margintop10">G</div>
                          <div class="col-md-6 margintop10">{{drug?._HSVProfile.saturation}}</div>
                        </div>
                        <div class="row margin">
                          <div class="col-md-6 margintop10">B</div>
                          <div class="col-md-6 margintop10">{{drug?._HSVProfile.value}}.</div>
                        </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div>


  </div>

</div>