<div style="width: 300px; min-height: 150px">
  <div class="font-Kanit1">เพิ่มหัวข้อการแยกข้อมูล</div>
  <div class="row " align="center">
    <div class="col-md-1">
      
    </div>
    <div class="col-md-10">
      <input type="text"  id="fname" name="AddTopic" placeholder="ใส่หัวข้อที่ต้องการแสดง...">
      <input type="text"  id="fname" name="AddTopic" placeholder="ใส่หัวข้อที่อยู่ในเอกสารกำกับยา...">
    </div>
    <div class="col-md-1">

    </div>
  </div>
  <div align="center">
  <button class="btn btn-outline-success my-2 my-sm-0 font-Kanit margintop10" >ยืนยัน</button>
</div>
</div>
